

*.bak
*.BAK 
*.md
*.MD
*.txt
*.log
*.old
*.odt
*.html
*.htm
*.xml
*.xsl
*.xslt
*.xsd
*.wsdl
*.ini
*.properties
*.conf
*.config
*.cfg
*.json
*.yml
*.yaml
*.csv
*.tsv
*.sql
*.dmp
*.db
*.sqlite
*.sqlite3
*.dbf
*.mdb
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.pps
*.ppsx

./wget2/trash/
./wget2/logs/

